{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="page-metadata">
        <h2 class="article-content">Best Of 2021</h2>
      </div>
    </div>
  </article>

   <article class="media content-section">

     <div class="media-body">
      <h4 >What is an Internship?</h4>
      <p class="article-content">
An internship is an official program
that is offered by an employer to potential employees.
The modern concept of an internship has evolved
from medieval apprenticeship, where a skilled laborer,
often a craftsman, would take on and teach a young person
their trade. In exchange for being taught a trade,
the apprentice would agree to work for the craftsman for a
specified length of time.</p>
    </div>
  </article>
{% endblock content %}
